div{
    border:50px;
    border-radius: 5px;
    background: url(bg.jpeg);
    position: 80px;
    background-size: 100% auto;
    width: 65%;
    height: 100%;
    margin-left:auto;
    margin-right:auto
}

body{
    background-color: bisque;
}

p{
    font-size: 16px;
}